.bar{
    height : 4rem; 
    display:flex; 
    width : 100%; 
    padding : 1vh; 
    justify-content : right;
    align-items: center;
    font-size: 30px;
}

.icons {
    margin: 5px 20px;
    cursor: pointer;
}