.infosContainer{
    max-width: 500px;
    z-index: 9999999;
    background-color: white;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infosContainer img {
    width: 50%;

    
}

.itemInfos {
    width: 50%;
}
.itemInfos h3 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}