.infosContainer{
    max-width: 500px;
    z-index: 9999999;
    background-color: white;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infosContainer img {
    width: 50%;
    height: 60%;
    
}

.itemInfos {
    width: 50%;
}
.itemInfos h3 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}